<!doctype <!DOCTYPE html>
{% load staticfiles %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>EEE Department Library</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{%static "css/base.css"%}"/>
    </head>
    <body>
        <div class="container toplevel">
       <header class="container-fluid"><img src="{% static "images/logo2x.png"%}"/><h2>Department of Electrical and Electronics Engineering</h2>
    </header>
    <nav class="navbar navbar-default">

    
    <ul class="nav navbar-nav">
        
        {% if user.is_authenticated %}
        <li><a href="{% url 'basic_app:logout' %}">Logout</a></li>

        {% else %}
        <li><a href="{% url 'form' %}">Login</a></li>
        {% endif %}
        
    </ul>


    
</nav>

        {% block body_block %}

        {% endblock %}

    <footer>
        <hr>
        <p>Created by shekster21</p>
        <a href="{% url 'admin:index' %}">ADMIN SITE</a>
    </footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </div>
</body>
</html>