<!DOCTYPE html>

{% extends 'basic_app/base.html' %}


{% block body_block %}

    <h1>{{ student_name }}</h1>
    <p>Semester: {{ semester }}</p>
    
    <p>Batch: {{ batch }}</p>
    <p>Register Number: {{ reg }}</p>
    <br>
    <p>Pending Fines:{{ fine }}</p>
    <br>
    <br>
    {% if books_in_hand != 0 %}
    <label>Books in Hand:</label>
    <table class='table'>
        <thead>
            <th>Book</th>
            <th>ID</th>
            <th>Author</th>
            <th>Due Date</th>
        </thead>
    {% for book in books %}
        <tr>                 
            <td>
                 {{ book.book_title }}      
            </td>
            <td>{{ book.book_id }}</td>
            <td>
                {{ book.author }}
            </td>
            <td>
                {{ book.due_date }}
            </td>
                                                
        </tr>
    {% endfor %}
    </table>
    
    {% endif %}
    <a href="{% url 'basic_app:search_form'%}">Find a Book</a>
    {% if books_in_hand < 2 %}
        <a href="{% url 'issue_form' %}">Issue a Book</a>
    {% endif %}
    {% if books_in_hand > 0 %}
        <a href="{% url 'return_form' %}">Return a Book</a>
    {% endif %}

{% endblock %}