<!doctype html>

{% extends 'basic_app/base.html' %}

{% block body_block %}
{% if user.is_authenticated %}
<a href="{% url 'basic_app:profile' %}">Home</a>
{% endif%}

<form action="{% url 'basic_app:search'%}" method="POST">
        {% csrf_token %}
    <table>
        
        <tr>
            <td><label>Search:</label></td>
            <td><input type="text" name="search"></td>
        </tr>
        <tr>
            <td><label>Book:</label><input type="radio" name="choice" value="book" checked></td>
            <td><label>Author:</label><input type="radio" name="choice" value="author"></td>
          
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Search"></td>
        </tr>
    </table>
</form>

{% endblock%}