body{
    background-color: #e6eaf2;
    margin-left: 0%;
    margin-right: 0%;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #b0c4e5;
    color:#043e9b;
}

nav{
    background-color: #d2def2;
}





.toplevel{
    display: flex;
    flex-direction: column;
    
   


}



main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    
    border-radius: 10px;
}

footer{
    align-items: flex-end;
    position: sticky;
    bottom: 0;
    
    color:#043e9b;
}





/*styles specific to pages*/
.info{
    flex-grow:2;
}